:root {
    --color-bg-dark: rgb(20, 48, 63);
    --color-bg-light: rgb(187, 221, 247);

    --color-logo-dark: #00abf0;
    --color-logo-light: rgb(165, 66, 153);

    --color-h1-dark: white;
    --color-h1-light: rgb(141, 48, 144);

    --color-p-dark: rgb(187, 221, 247);
    --color-p-light: rgb(44, 88, 65);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Default text color for light mode */
body {
    background: var(--color-bg-light);
    width: 100%;
    height: 100vh;
    margin: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 25px 10%;
    background: var(--color-bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    /*makes name to the left*/

}

/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 30px;
}

/* Additional styles for screens with a maximum width of 1064px */
@media (max-width: 1064px) {
    .theme-switch-wrapper {
        top: 80px;
        /* background-color: var(--color-bg-dark); */
        /* Adjust the top position to move it below the navbar */
    }
}

/* Additional styles for screens with a maximum width between 800px and 455px */
@media (max-width: 800px) and (min-width: 456px) {
    .theme-switch-wrapper {
        top: 120px;
        /* Adjust the top position to move it below the navbar */
    }
}

/* Additional styles for screens with a maximum width of 455px */
@media (max-width: 455px) {
    .theme-switch-wrapper {
        top: 80px;
        /* Adjust the top position to move it further below the navbar */
    }
}


.theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
}

.fas {
    color: #00abf0;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background: var(--color-logo-light);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider {
    background: var(--color-bg-light);
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

.fas {
    font-size: 30px;
    margin-right: 5px;
}

/* The navigation bar */

.logo {
    font-size: 25px;
    color: var(--color-logo-light);
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
}

.navbar a {
    font-size: 18px;
    color: var(--color-bg-light);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

nav {
    display: block;
    font-weight: 600;

}

nav ul {
    display: flex;
    flex-direction: block;
    justify-content: space-between;
    margin-right: 20px;
}

nav li {
    display: list-item;
    list-style: none;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-bg-dark);
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }
}


/*Main Hero*/
.home {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;

    box-sizing: border-box;
}

/* Added a media query for smaller screens to adjust the layout */
@media (max-width: 800px) {
    .home {
        min-height: 60vh;
        /* Adjusted height for smaller screens */
    }

    .home-content {
        max-width: 100%;
        /* Make content take full width on smaller screens */
        margin-bottom: 20px;
        /* Added margin to separate content and image */
    }

    .homephoto-container {
        width: 80%;
        /* Make image take full width on smaller screens */
    }

    .homephoto img {
        height: auto;
        /* Make image responsive */
        width: 80%;
        /* Make image take full width on smaller screens */
    }
}


.homephoto-container {
    padding: 5%;
}

.homephoto img {
    height: 250%;
    width: 430px;
}

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-h1-light);
}

.home-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 22px;
    margin: 20px 0 40px;
    color: var(--color-p-light);
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .filter-projects {
        flex-direction: column;
        align-items: center;
    }

    .btn-f {
        margin: 1% 0; /* Add margin to separate buttons in column layout */
        font-size: 16px; /* Adjust font size for smaller screens */
        padding: 1rem; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .btn-f {
        font-size: 14px; /* Further reduce font size for smaller screens */
        padding: 0.5rem; /* Further adjust padding for smaller screens */
    }
}


/* <!-- Projects section  --> */
.project-section {
    text-align: center;
    padding: 10rem 2rem;
    /* background-color: antiquewhite; */
}

.projects-section-header {
    font-size: 28px;
    font-weight: 700;
    color: #00abf0;
    padding: 2%;
    text-align: center;
}

.filter-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.btn-f {
    display: flex;
    font-size: 16px;
    color: #913b82;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #00abf0;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
}

.project {
    /* Add this style to hide projects by default */
    display: none;
}


.show {
    display: block;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    overflow: hidden;
}


/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .projects-section-header {
        font-size: 24px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}

@media (max-width: 480px) {
    .project-section {
        padding: 6rem 2rem;
    }
}

a {
    text-decoration: none;
    color: white;
}

.project {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: white;
}

.button_project {
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.website,
.code {
    width: 110px;
    height: 10%;
    background: #913b82;
    border: 2px solid #913b82;
    border-radius: 10px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
    margin: 0 3% 5% 2%;
}

.project-image {
    height: cal(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    overflow-clip-margin: content-box;
    display: block;
    width: 100%;
}

.project-title {
    font-size: 20px;
    font-weight: 500;
    color: #00abf0;
    padding: 5%;
    text-align: center;
}

.fa-angle-double-down {
    width: 80px;
    display: block;
    text-align: center;
    color: #00abf0;
    font: normal 75px 'FontAwesome';
    line-height: 60px;
    align-items: center;
}

/* so the icon is centered */
.center {
    text-align: center;
    width: 100%;
}

/*Back top buttom*/
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 60px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #00abf0;
    /* Set a background color */
    color: azure;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    border: 2px solid rgb(20, 48, 63);
    font-size: 18px;
    /* Increase font size */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#myBtn:hover {
    background-color: #913b82;
    /* Add a dark-grey background on hover */
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .filter-projects {
        flex-direction: column;
        align-items: center;
    }

    .btn-f {
        margin: 1% 0; /* Add margin to separate buttons in column layout */
    }
}

@media (max-width: 480px) {
    .btn-f {
        font-size: 14px; /* Reduce font size for smaller screens */
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }
}


/*Projects Page*/

.title-projects {
    text-align: center;
    margin: 1%;
    color: azure;
    line-height: 1.5
}

.container-projects {
    color: #00abf0;
    background: #741b1b;
    margin: 2%;
    width: 100vh;
    align-items: center;
}

.project1 {
    align-content: center;
    width: 100vh;
    padding: 20px;
    text-align: center;
    height: auto;
    line-height: 2.1;
}

/*footer*/
footer {
    background: var(--color-bg-dark);
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.footer-bottom {
    background-color: var(--color-bg-dark);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
}


.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.socials li {
    margin: 0 20px;

}

.socials a {
    text-decoration: none;
    color: #913b82;
}


.socials a i {
    font-size: 2.5rem;
}

.footer-bottom {
    background-color: black;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

span {
    color: #913b82;
    font-size: 18px;
}